body {
    background: #eee;
    background-size: cover;
    backdrop-filter: blur(100px);
    line-height: 1.7em;
}
button {
    background: rgba(0,0,200,0.6);
    border: 1px solid grey;
    color: #fff;
    cursor: pointer;
}
main, footer {
    opacity: 0.9;
}
article {
    margin-bottom: 2em;
    padding: 2em;
}
main {
    padding: 1rem;
}
#main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
}
#main button {
    text-align: left;
}
main nav {
    background: rgba(0,0,200,0.1);
    padding: 0 3rem 0 0;
    min-width: 20%;
}
#main__dynamic-content {
    padding-left: 3rem;
    overflow-x: auto;
}
header {
    padding: 1rem;
    font-size: 5rem;
    line-height: 5rem;
    text-decoration: none;
}
header h1 {
    color: rgba(0,0,50,0.5);
    font-size: inherit;
    list-style: inherit;
}
header img {
    margin-right: 1rem;
}
header a {
    text-decoration: none;
}
h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
}
h1::first-letter, h2::first-letter  {
    color: rgba(0,0,200,0.6);
}
p {
    font-style: italic;
}
dt {
    font-family: serif;
    text-transform: uppercase;
    margin-bottom: 0.7em;
}
dd {
    font-size: 0.8em;
    margin-left: 3em;
}
img {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
dd:before {
    content: '_';
}
footer {
    border-top: 1px solid rgba(0,0,200,0.6);
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    padding: 1rem;
}
@media only screen and (max-width: 800px) {
    #main {
        flex-direction: column;
    }
    #main nav,
    #main__dynamic-content {
        width: 90%;
    }
    #main__dynamic-content {
        padding: 2em;
    }
}